.geoGuesserContainer {
    display: flex;
    flex-direction: row;
}

.questionsSideBar{
    min-width: 30%;
    max-height: 100vh;
}

.mainMap {
    max-width: 70%;
    max-height: 100vh;
}

.overflowY {
    overflow-y: scroll;
}