.recipe-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
    background-color:aqua;
}

.recipe-child { 
    height: 25rem;
    width: 100%;
    margin-top: 3rem;
    /* border: 2px solid black; */
    border-radius: 2%;
    transition: box-shadow 300ms ease-in-out;
    background-color:aquamarine;
}

.recipe-img {
    border-radius: 2%;
}

.recipe-child:hover {
    box-shadow: 2px 2px 10px;
}

.searchBar {
    text-align: center;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    margin-top: 5px;
}

.submitButton {
    border-radius: 20px;
    height: 40px;
    width: 80px;
    margin-top: 5px;
}
