.nav-container {
  height: 11vh;
  width: 100%;
  position: relative;
  border: 1px solid black;
}

.nav-logo{
    display: inline;
    position: absolute;
    top: 50%;
    margin-left: 55px;
    transform: translate(-50% , -50% );
}

.nav-title{
    display: inline;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50% , -50% );
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 54%;
    width: 70%;
    transform: translate(-50% , -50% );
}

.nav-links span {
    padding: 30px;
}

.nav-link-style {
    text-decoration: underline;
    color: black;
}
