* {
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
}


.container {
    min-height: 100vh;
    width: 100%;
}

.webTitle {
    margin-left: 20px;
    padding: 2px;
    margin-top: 30px;
}

.containerForSearchBar {
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 30px;
}

.searchBar {
    border: 1px solid black;
    text-align: center;
    width: 5000px;
    height: 40px;
    font-size: large;
    margin-top:5px;
    outline: none;
    text-align: left;
}

.submitButton {
    height: 40px;
    width: 80px;
    margin-top:5px;
} 

.customAccordion .accordian-item {
    max-width: 150px;
    min-height: 40px;
    max-height: 40px;
}

.button-dropDown-container {
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 75px;
    transform: translateX(-13px);

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

