.card-container {
    display: flex; 
    width: 90%;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}

.card-container:hover {
cursor: pointer;
}

.card-img{ 
    height: 100%;
    min-width: 40%;
}

.card-text-container{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-text {
    /* border: 1px solid red; */
    margin-left: 10px;
    position: absolute;
    top: 22.5%;
    white-space: nowrap;

}

.card-text > * {
    text-align: left;
    white-space: normal; 
}
   
.delete-button {
    width: 10%;
    height: 100%;
    position:relative;
    top: 0%;
    right: 0%;
    background-color: red;
    color: white;
    border: none;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.card-container:hover .delete-button {
    opacity: 1; /* Show delete button on hover */
}
.delete-icon {
    width: 16px;
    height: 16px;
}